<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout-admin}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{label.booking.manage}"></title>
</head>
<body>
<h1 class="mt-4" layout:fragment="page-heading" th:text="#{label.booking.manage}"></h1>

<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/dashboard}" th:text="#{label.home}"></a></li>
    <li aria-current="page" class="breadcrumb-item active" th:text="#{label.booking.manage}"></li>
</ol>

<div class="card shadow mb-4" layout:fragment="page-content">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <i class="far fa-map"></i>
                        <span th:text="#{label.booking.list}"></span>
                    </h6>
                </div>
                <div class="col-12 col-xl-auto">
                    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                       th:href="@{${#request.getRequestURL()}+'/create'}">
                        <i class="fas fa-folder-plus"></i>
                        <span th:text="#{label.booking}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr class="text-wrap text-center font-weight-bold">
                    <th class="align-middle" th:text="#{label.id}"></th>
                    <th class="align-middle" th:text="#{label.bookingDate}"></th>
                    <th class="align-middle" th:text="#{label.departure_date.date}"></th>
                    <td class="align-middle" th:text="#{label.tour.name}"></td>
                    <th class="align-middle" th:text="#{label.booking.quantity}"></th>
                    <th class="align-middle" th:text="#{label.booking.total}"></th>
                    <th class="align-middle" th:text="#{label.booking.payment}"></th>
                    <th class="align-middle" th:text="#{label.action}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="booking:${bookings}">
                    <td class="align-middle text-center" th:text="${booking.id}"></td>
                    <td class="align-middle text-nowrap" th:text="${#temporals.format(booking.bookingDate, 'hh:mm:ss dd/MM/yyyy')}"></td>
                    <td class="align-middle text-center" th:text="${#temporals.format(booking.departureDate.date, 'dd/MM/yyyy')}"></td>
                    <td class="align-middle text-center" th:text="${booking.departureDate.tour.name}"></td>
                    <td class="align-middle text-center" th:text="${booking.quantity}"></td>
                    <td class="align-middle text-right" th:text="${#numbers.formatCurrency(booking.total)}"></td>
                    <td class="align-middle text-center text-nowrap" >
                        <span class="badge badge-secondary" th:if="${booking.payment==null}" th:text="|Chưa thanh toán|"></span>
                        <span class="badge badge-success" th:if="${booking.payment!=null}" th:text="${booking.payment.name}"></span>
                    </td>
                    <td class="align-middle text-center text-nowrap">
                        <a class="badge badge-primary px-2 py-1"
                           th:href="@{${#request.getRequestURL()}+'/'+${booking.id}}">
                            <i class="fas fa-edit fa-w-3"></i>
                            <span th:text="#{label.detail}"></span>
                        </a>
                        <a class="badge badge-danger px-2 py-1"
                           data-target="#deleteModal"
                           data-toggle="modal" th:href="@{{id}/delete(id=${booking.id})}">
                            <i class="fas fa-trash fa-w-3"></i>
                            <span th:text="#{label.delete}"></span>
                        </a>
                        <div id="deleteModal"
                             th:replace="~{/fragments/modal::delete('bookings', ${booking.id},${booking.id })} "></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>