<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-admin}">
<head>
    <title>Account</title>
    <th:block layout:fragment="style"></th:block>

</head>
<body>
<h1 class="mt-4" layout:fragment="page-heading">Account</h1>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Account</li>
</ol>

<h6 class="m-0 font-weight-bold text-primary" layout:fragment="card-hearder">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <div class="page-header-title">
                        <div class="page-header-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </div>
                        Users List
                    </div>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" th:href="@{/permission}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-users me-1">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                        Manage Groups
                    </a>
                    <a class="btn btn-sm btn-light text-primary" th:href="@{/account/create}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-user-plus me-1">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="8.5" cy="7" r="4"></circle>
                            <line x1="20" y1="8" x2="20" y2="14"></line>
                            <line x1="23" y1="11" x2="17" y2="11"></line>
                        </svg>
                        Add New User
                    </a>
                </div>
            </div>
        </div>
    </div>
</h6>
<div class="table-responsive" layout:fragment="data-table">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Create Date</th>
            <th>Avatar</th>
            <th>Permission</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account:${accounts}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.username}"></td>
            <td th:text="${account.getPassword()}"></td>
            <td th:text="${account.firstName}"></td>
            <td th:text="${account.lastName}"></td>
            <td th:text="${account.email}"></td>
            <td th:text="${account.getCreateTime()}"></td>
            <td th:text="${account.getAvatarUrl()}"></td>
            <td th:text="${account.getPermission().getName()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>