<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout-user}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Tìm kiếm tour'"></title>
</head>
<body>

<th:block layout:fragment="banner">
    <div class="hero hero-inner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="">
                    <form class="form" method="post" th:action="@{/tours}" th:object="${searchTourDTO}">
                        <div class="mt-3 d-flex flex-row flex-wrap justify-content-between">
                            <div class="form-group col-6">
                                <label class="mb-1" for="rangePrice" th:text="'Đơn giá'"></label>
                                <select class="form-control custom-select" id="rangePrice"
                                        name="rangePrice" th:field="*{rangePrice}">
                                    <option th:text="'--- Khoảng giá ---'" value=""></option>
                                    <option th:text="'Dưới '+ ${#numbers.formatCurrency(2000000)}"
                                            value="0-2000000"></option>
                                    <option th:text="'Từ '+${#numbers.formatCurrency(2000000)} + ' - ' +${#numbers.formatCurrency(4000000)}"
                                            value="2000000-4000000"></option>
                                    <option th:text="'Từ '+${#numbers.formatCurrency(4000000)} + ' - ' +${#numbers.formatCurrency(6000000)}"
                                            value="4000000-6000000"></option>
                                    <option th:text="'Trên '+ ${#numbers.formatCurrency(6000000)}"
                                            value="6000000-"></option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label class="mb-1" for="numberPeople">Số người</label>
                                <input class="form-control" id="numberPeople" min="1"
                                       name="numberPeople" th:field="*{numberPeople}" th:value="1" type="number">
                            </div>
                            <div class="form-group col-6">
                                <label class="mb-1" for="departure">Nơi khởi hành</label>
                                <select class="form-control custom-select" id="departure" name="departure"
                                        th:field="*{departurePlace}">
                                    <option selected th:text="'--- Chọn nơi khởi hành ---'" value=""></option>
                                    <option th:each="departure:${departurePlaces}" th:text="${departure.name}"
                                            th:value="${departure.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label class="mb-1" for="destination">Nơi đến</label>
                                <select class="form-control custom-select" id="destination"
                                        name="destination" th:field="*{destinationPlace}">
                                    <option th:text="'--- Chọn nơi đến ---'" value=""></option>
                                    <option th:each="province:${provinces}" th:text="${province.getName()}"
                                            th:value="${province.getName()}"></option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label class="mb-1" for="departureDate">Ngày khởi hành</label>
                                <input class="form-control" id="departureDate" name="daterange" th:value="*{rangeDate}"
                                       type="text">
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <button class="btn btn-primary btn-block col-6" type="submit">Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <div class="untree_co-section">
        <div class="container">
            <div class="row justify-content-center mx-0 mb-5">
                <th:block th:if="${tours.size()>0}">
                    <div class="col-lg-6 text-center">
                        <h3 class="section-title text-center mb-3"
                            th:text="${tours.size()} + ' chuyến du lịch được tìm thấy'"></h3>
                    </div>
                    <div class="row flex-wrap justify-content-around align-baseline">
                        <div class="col-xl-4 mb-4" th:each="tour:${tours}">
                            <div class="card-img">
                                <a class="media-thumb" data-fancybox="gallery" th:href="@{${tour.thumbnail}}">
                                    <div class="media-text">
                                        <h3 th:text="${tour.name}"></h3>
                                        <p class="location" th:text="${tour.itinerary}"></p>
                                    </div>
                                    <img alt="Không có hình ảnh" class="img-fluid d-block w-100"
                                         src="" th:src="@{${tour.thumbnail}}">
                                </a>
                            </div>
                            <div class="card-body pb-0">
                                <div class="loc mx-0 mb-2">
                                    <span class="icon-room mr-1"></span>
                                    <span th:text="${tour.getDestination()}"></span>
                                </div>
                                <h4 class="card-title">
                                    <a class="text-decoration-none text-primary "
                                       th:href="@{/tours/{id}(id=${tour.getId()})}"
                                       th:text="${tour.name}"></a>
                                </h4>
                                <div class="card-subtitle">
                                    <div class="d-flex align-items-center mb-2"><i class="icon-clock-o mr-1"></i><span
                                            th:text="${tour.duration}"></span></div>
                                    <div class="d-flex align-items-baseline mb-2"><i class="icon-calendar-o mr-1"></i>
                                        <div class="flex-wrap">
                                        <span th:each="departureDate:${tour.departureDates}"
                                              th:text="|${#temporals.format(departureDate.date, 'dd/MM/yyyy')}; |"></span>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="mb-2 loc price ml-auto text-danger font-weight-bolder">
                                    <span class="mr-1"><i class="icon-tag"></i></span>
                                    <span th:text="${#numbers.formatCurrency(tour.getUnitPrice())}"></span>
                                </h5>

                            </div>
                            <div class="card-footer bg-transparent p-0">
                                <div class="d-flex justify-content-center">
                                    <a class="btn rounded-0 btn-block btn-outline-primary" href=""
                                       th:href="@{/tours/{id}/booking(id=${tour.id})}" th:text="#{label.booking}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:if="${currentPage>1}">
                                <a aria-label="Previous" class="page-link" th:href="@{/tours(page=${currentPage}-1)}">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Trước</span>
                                </a>
                            </li>
                            <th:block class="pagination" th:each="pageNumber : ${pageNumbers}"
                                      th:if="${totalPages > 0}">
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${pageNumber==currentPage}?'active text-black'"
                                       th:href="@{/tours(page=${pageNumber})}"

                                       th:text="${pageNumber}"></a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${currentPage<totalPages}">
                                <a aria-label="Next" class="page-link" th:href="@{/tours(page=${currentPage}+1)}">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Sau</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th:block>
                <th:block th:if="${tours.size()==0}">
                    <div class="col-lg-6 text-center">
                        <h3 class="section-title text-center mb-3"
                            th:text="'Không tìm thấy chuyến du lịch nào phù hợp! Hãy thử lại'"></h3>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>