<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-user}">
<head>
    <title th:text="#{label.booking}"></title>
</head>
<body>

<th:block layout:fragment="banner">
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0" th:text="${tour.tourGroup.getName()}"></h1>
                        <p class="text-white" th:text="${tour.tourGroup.getDescription()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <div class="untree_co-section">
        <div class="container my-5">

            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="mb-5">
                        <div>
                            <img src="" alt="" class="img-fluid"
                                 th:src="${tour.getImage()}" th:alt="${tour.getName()}">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="custom-block aos-init aos-animate text-justify" data-aos="fade-up">
                        <h3 class="section-title" th:text="${tour.getName()}">
                        </h3>
                        <div class="row">
                            <div class="col-4 font-weight-bold">Mã tour</div>
                            <div class="col-8" th:text="${tour.getId()}"></div>
                        </div>
                        <div class="row">
                            <div class="col-4 font-weight-bold">Thời gian</div>
                            <div class="col-8" th:text="${tour.getDuration()}"></div>
                        </div>
                        <div class="row">
                            <div class="col-4 font-weight-bold">Giá</div>
                            <div class="col-8" th:text="${#numbers.formatCurrency(tour.getUnitPrice())}"></div>
                        </div>
                        <div class="row">
                            <div class="col-4 font-weight-bold">Khởi hành</div>
                            <div class="col-8" th:text="'Hàng ngày'"></div>
                        </div>
                        <div class="row">
                            <div class="col-4 font-weight-bold">Di chuyển</div>
                            <div class="col-8" th:text="${tour.getTransfer()}"></div>
                        </div>
                        <div class="row">
                            <div class="col-4 font-weight-bold">Xuất phát</div>
                            <div class="col-8" th:text="${tour.getDeparturePlace()}"></div>
                        </div>
                        <div class="row">
                            <div class="col-4  font-weight-bold">Số chỗ còn</div>
                            <div class="col-8" th:text="${tour.getAvailableSlot()}"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="custom-block aos-init aos-animate" data-aos="fade-up">
                        <h2 class="section-title">
                            <span><i class="icon-money"></i></span>
                            <span>Bảng giá tour chi tiết</span>
                        </h2>
                        <table class="table table-hover table-responsive text-center">
                            <thead class="font-weight-bold">
                            <th class="font-weight-bold align-middle">Loại giá\Độ tuổi</th>
                            <th class="font-weight-bold" th:each="tourTicket:${tourTickets}"
                                th:text="${tourTicket.getName()}"></th>
                            </thead>
                            <tbody>

                            <tr>
                                <td class="font-weight-bold  align-middle">Đơn giá (trên 1 người)</td>
                                <td th:each="tourTicket:${tourTickets}"
                                    th:text="${#numbers.formatCurrency(tourTicket.getUnitPrice())}"></td>

                            </tr>
                            <tr th:each="tourTicket:${tourTickets}" th:if="${tourTicket.getSurcharge()}!=null">
                                <td class="font-weight-bold  align-middle"
                                    th:text="${tourTicket.getSurcharge().getName()}"></td>
                                <td th:text="${#numbers.formatCurrency(tourTicket.getSurcharge().getSurcharge())}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger" th:text="${errorMessage}"></div>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-success" th:text="${success}"></div>
                    </div>
                    <div class="custom-block aos-init aos-animate" data-aos="fade-up">
                        <h2 class="section-title">
                            <span><i class="icon-user"></i></span>
                            <span>Thông tin đặt tour</span>
                        </h2>
                        <form class="contact-form bg-white" method="post"
                              th:action="@{/booking/{id}(id=${tour.getId()})}" th:object="${booking}">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="text-black" for="fullname" th:text="|#{label.fullName} *|"></label>
                                    <input type="text" class="form-control" id="fullname" required autofocus
                                           th:value="*{fullName}" th:field="*{fullName}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="text-black" for="identifiedCard"
                                           th:text="|#{label.identifiedcard} *|"></label>
                                    <input type="text" class="form-control" id="identifiedCard" required
                                           th:value="*{identified}" th:field="*{identified}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="text-black" for="phone" th:text="|#{label.phone} *|"></label>
                                    <input type="text" class="form-control" id="phone" maxlength="10" required
                                           th:value="*{phone}" th:field="*{phone}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="text-black" for="address" th:text="#{label.address}"></label>
                                    <input type="text" class="form-control" id="address"
                                           th:value="*{address}" th:field="*{address}">
                                </div>
                            </div>
                            <div class="row">
                                <!--                                <div class="form-group col-md-3"-->
                                <!--                                     th:each="bookingDetail, iteratStat:${booking.bookingDetails}">-->
                                <!--                                    <span class="text-black" th:text="${bookingDetail.tourTicket.name}"></span>-->
                                <!--                                    <label class="text-black" th:for="${bookingDetail.tourTicket.id}">-->
                                <!--                                        <input th:type="number" class="form-control" value="1"-->
                                <!--                                               th:name="${bookingDetail.tourTicket.id}"-->
                                <!--                                               th:min="${iteratStat.index<1}?1:0" th:value="${iteratStat.index<1}?1:0">-->
                                <!--                                    </label>-->
                                <!--                                </div>-->
                                <!--                                <div class="form-group col-md-3" th:each="tourTicket, iteratStat:${tourTickets}"-->
                                <!--                                     th:object="${booking.bookingDetails.get(__${iteratStat.index}__)}">-->
                                <!--                                    <label class="text-black"-->
                                <!--                                           th:for="${tourTicket.id}"-->
                                <!--                                           th:text="${tourTicket.name}"></label>-->
                                <!--                                    <label class="text-black">-->
                                <!--                                        <input th:type="number" class="form-control" value="1"-->
                                <!--                                               th:name="${tourTicket.id}" th:id="${tourTicket.id}"-->
                                <!--                                               th:min="${iteratStat.index<1}?1:0"-->
                                <!--                                               th:value="${iteratStat.index<1}?1:0"-->
                                <!--                                               th:field="*{quan}">-->
                                <!--                                    </label>-->
                                <!--                                </div>-->

                                <div class="form-group col-md-3">
                                    <label class="text-black" for="numberAdult" th:text="'Người lớn (trên 11 tuổi) *'">
                                    </label>
                                    <input type="number" class="form-control" id="numberAdult" min="1"
                                           th:value="*{numberAdult}" th:field="*{numberAdult}">
                                </div>
                                <div class="form-group col-md-3" th:if="${tourTickets.size()>1}">
                                    <label class="text-black" for="numberChildren" th:text="'Trẻ em (5 - 11 tuổi)'">
                                    </label>
                                    <input type="number" class="form-control" id="numberChildren" min="0"
                                           th:value="*{numberChildren}" th:field="*{numberChildren}">
                                </div>
                                <div class="form-group col-md-3" th:if="${tourTickets.size()>2}">
                                    <label class="text-black" for="numberYoungChildren" th:text="'Trẻ nhỏ (2-5 tuổi)'">
                                    </label>
                                    <input type="number" class="form-control" id="numberYoungChildren" min="0"
                                           th:value="*{numberYoungChildren}" th:field="*{numberYoungChildren}">
                                </div>
                                <div class="form-group col-md-3" th:if="${tourTickets.size()>3}">
                                    <label class="text-black" for="numberInfants" th:text="'Sơ sinh (<2 tuổi)'">
                                    </label>
                                    <input type="number" class="form-control" id="numberInfants" min="0"
                                           th:value="*{numberInfants}" th:field="*{numberInfants}">
                                </div>
                                <div id="output"></div>
                                <!--                                <script>-->
                                <!--                                    let numberPeople = 0;-->
                                <!--                                    let maxSlot = [[${maxSlot}]];-->
                                <!--                                    numberPeople = Number.parseInt(document.getElementById("numberAdult").value)-->
                                <!--                                        + Number.parseInt(document.getElementById("numberChildren").value)-->
                                <!--                                        + Number.parseInt(document.getElementById("numberYoungChildren").value)-->
                                <!--                                        + Number.parseInt(document.getElementById("numberInfants").value);-->
                                <!--                                    -->
                                <!--                                    function setValue(id) {-->
                                <!--                                        document.getElementById("output").innerText = numberPeople;-->
                                <!--                                    }-->

                                <!--                                    if (numberPeople > maxSlot) {-->
                                <!--                                        alert(numberPeople + " > " + maxSlot);-->
                                <!--                                    }-->
                                <!--                                </script>-->
                            </div>
                            <div class="row text-center">
                                <div class="col-md-6 mx-auto w-25">
                                    <button id="btnBooking" type="submit" class="btn btn-primary w-50"
                                            th:text="#{label.booking}"></button>
                                </div>
                            </div>
                        </form>
                    </div> <!-- END .custom-block -->
                </div>
            </div>

            <div class="row justify-content-center mt-5 section">

                <div class="col-lg-10">
                    <div class="row mb-5">
                        <div class="col text-center">
                            <h2 class="section-title text-center">Tour liên quan</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="custom-block aos-init" data-aos="fade-up" data-aos-delay="100">
                            <div class="owl-single owl-carousel no-nav owl-loaded owl-drag">
                                <div class="owl-stage-outer owl-height" style="height: 187.594px;">
                                    <div class="owl-stage"
                                         style="transform: translate3d(-1497px, 0px, 0px); transition: all 0.8s ease 0s; width: 3493px;">
                                        <div class="owl-item cloned" style="width: 499px;">
                                            <div class="testimonial mx-auto">
                                                <figure class="img-wrap">
                                                    <img src="/img/person_3.jpg" alt="Image"
                                                         class="img-fluid">
                                                </figure>
                                                <h3 class="name">Lukas Devlin</h3>
                                                <blockquote>
                                                    <p>“There live the blind texts. Separated they live in
                                                       Bookmarksgrove right at the coast of the Semantics, a large
                                                       language ocean.”</p>
                                                </blockquote>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="owl-nav disabled">
                                    <div class="owl-prev"><span class="icon-keyboard_backspace"></span></div>
                                    <div class="owl-next"><span class="icon-keyboard_backspace"></span></div>
                                </div>
                                <div class="owl-dots">
                                    <div class="owl-dot" data-index="0"><span></span></div>
                                    <div class="owl-dot active" data-index="1"><span></span></div>
                                    <div class="owl-dot" data-index="2"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>
</body>
</html>