<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout-user}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.historyBooking}"></title>
    <th:block layout:fragment="style">
        <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
    </th:block>
</head>
<body>

<th:block layout:fragment="banner">
    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <div class="untree_co-section py-5">
        <div class="container">
            <div class="col-12">
                <form class="" method="get" th:action="@{/history}" th:object="${searchHistory}">
                    <div class="row mb-2 mx-0 justify-content-between">
                        <div class="form-group m-auto d-inline-flex ">
                            <span class="text-nowrap m-auto font-weight-bold text-nowrap">Thời gian khởi hành</span>
                            <label class="text-nowrap m-auto px-2" for="fromDate">Từ</label>
                            <input class="form-control m-auto" id="fromDate" name="fromDate"
                                   th:value="${searchHistory.fromDate}"
                                   type="date">
                            <label class="text-nowrap m-auto px-2" for="toDate">Đến</label>
                            <input class="form-control m-auto" id="toDate" name="toDate"
                                   th:value="${searchHistory.toDate}"
                                   type="date">
                        </div>
                        <div class="form-group m-auto d-inline-flex">
                            <label class="text-nowrap m-auto px-2 font-weight-bold" for="statusPayment">Trạng
                                thái</label>
                            <select class="form-control custom-select m-auto" id="statusPayment"
                                    name="statusPayment" th:selected="*{statusPayment}">
                                <option th:selected="*{statusPayment==null}" th:text="'Tất cả'"
                                        value=""></option>
                                <option th:selected="*{statusPayment=='true'}" th:text="'Đã thanh toán'"
                                        value="true"></option>
                                <option th:selected="*{statusPayment=='false'}" th:text="'Chưa thanh toán'"
                                        value="false"></option>
                            </select>
                        </div>
                        <div class="form-group m-auto">
                            <input class="btn btn-primary form-control" type="submit" value="Tìm kiếm">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="container mt-4 mb-4">
            <div class="card shadow">
                <div class="card-header  py-3">
                    <h5 class="m-0 font-weight-bold text-primary">Lịch sử đặt tour</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover mb-0" id="dataTable">
                            <thead class="border-bottom">
                            <tr class="align-middle text-nowrap">
                                <th class="text-muted text-left py-md-3" th:text="#{label.id}"></th>
                                <th class="text-muted text-left py-md-3" th:text="'Tên tour'"></th>
                                <th class="text-muted py-md-3"
                                    th:text="#{label.bookingDate}"></th>
                                <th class="text-muted  py-md-3"
                                    th:text="#{label.departureDate}"></th>
                                <th class="text-muted text-right py-md-3" th:text="'Tổng tiền'"></th>
                                <th class="text-muted text-left py-md-3" th:text="'Trạng thái'"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${bookings==null}">
                                <td colspan="5">Không có dữ liệu</td>
                            </tr>
                            <tr class="align-middle" th:each="booking:${bookings}" th:if="${bookings!=null}">
                                <td class="text-left">
                                    <a class="text-decoration-none text-primary"
                                       th:href="@{/booking/{id}(id=${booking.id})}"
                                       th:text="${booking.getId()}"></a></td>
                                <td class="text-wrap">
                                    <a class="text-decoration-none text-primary"
                                       th:href="@{/booking/{id}(id=${booking.id})}"
                                       th:text="${booking.getDepartureDate().getTour().name}"></a>
                                </td>
                                <td class="text-nowrap">
                                    <a class="text-decoration-none text-primary"
                                       th:href="@{/booking/{id}(id=${booking.id})}"
                                       th:text="${#temporals.format(booking.getBookingDate(), 'dd/MM/yyyy')}"></a>
                                </td>
                                <td class="text-nowrap">
                                    <a class="text-decoration-none text-primary"
                                       th:href="@{/booking/{id}(id=${booking.id})}"
                                       th:text="${#temporals.format(booking.getDepartureDate().getDate(), 'dd/MM/yyyy')}"></a>
                                </td>
                                <td class="text-right text-nowrap">
                                    <a class="text-decoration-none text-primary"
                                       th:href="@{/booking/{id}(id=${booking.id})}"
                                       th:text="${#numbers.formatCurrency(booking.getTotal())}"></a>

                                </td>
                                <td class="text-left">
                                    <a class="text-decoration-none text-primary"
                                       th:href="@{/booking/{id}(id=${booking.id})}">
                                        <span th:class="${booking.payment!=null}?'badge badge-success px-2 py-1':'badge badge-secondary px-2 py-1'"
                                              th:text="${booking.payment!=null}?'Đã thanh toán':'Chưa thanh toán'"></span>
                                    </a>
                                </td>
                            </tr>
                            <script>
                                let fromDateDOM = document.getElementById("fromDate");
                                let toDateDOM = document.getElementById("toDate");
                                let fromDate = fromDateDOM.value;
                                let toDate = toDateDOM.value;
                                fromDateDOM.addEventListener("change", () => {
                                    fromDate = fromDateDOM.value
                                    toDateDOM.setAttribute("min", fromDate)
                                })
                                toDateDOM.addEventListener("change", () => {
                                    toDate = toDateDOM.value;
                                    console.log(toDate)
                                    fromDateDOM.setAttribute("max", toDate)

                                })
                            </script>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:if="${currentPage>1}">
                                <a aria-label="Previous" class="page-link"
                                   th:href="@{/history(page=${currentPage}-1)}">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Trước</span>
                                </a>
                            </li>
                            <th:block class="pagination" th:each="pageNumber : ${pageNumbers}"
                                      th:if="${totalPages > 0}">
                                <li class="page-item">
                                    <a class="page-link" th:classappend="${pageNumber==currentPage}?'active text-black'"
                                       th:href="@{/history(page=${pageNumber})}"
                                       th:text="${pageNumber}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${currentPage<totalPages}">
                                <a aria-label="Next" class="page-link"
                                   th:href="@{/history(page=${currentPage}+1)}">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Sau</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js">
    </script>
</th:block>
</body>
</html>